<button class="slider-close"></button>
<div class="slider">
  <ul class="slider__menu">
    <li>
      <button class="slider__btn"
              [ngClass]="onOff ? 'on' : 'off'"
              (click)="onOffSlider()">
      </button>
    </li>
    <li *ngFor="let element of imagesSrc"
        [class.active]="currentIndex == imagesSrc.indexOf(element)"
        (click)="change(imagesSrc.indexOf(element))">
      n° {{ element.id }}
    </li>
  </ul>
  <div class="slider__container">
    <img *ngFor="let element of imagesSrc;"
         [class]="getElementClass(element)"
         [title]="element.libelle"
         [alt]="element.libelle"
         [src]="element.path"/>
  </div>
</div>
