@import "../../assets/styles/colors";

:host {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;

  .slider-close {
    position: fixed;
    left: 32px;
    top: 32px;
    width: 33px;
    height: 33px;
    background: transparent;
    border: none;
    border-radius: 100%;
    overflow: hidden;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    &:before, &:after {
      content: ' ';
      position: absolute;
      left: 15px;
      top: 0;
      transform: translateY(-50%);
      height: 33px;
      width: 2px;
      background-color: $white;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  .slider {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;

    &__btn {
      border: 0;
      background: transparent;
      box-sizing: border-box;
      width: 0;
      height: 15px;
      transition: 100ms all ease;
      cursor: pointer;
      border-color: transparent transparent transparent $blue-dark;

      &:hover {
        cursor: pointer;
      }

      &.off {
        border-style: solid;
        border-width: 7px 0 7px 10px;
      }

      &.on {
        border-style: double;
        border-width: 0 0 0 10px;
      }
    }

    &__menu {
      display: flex;
      align-items: center;
      min-height: 40px;
      width: 100%;

      li {
        display: flex;
        margin: auto 5px;
        transition: 0.25s;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          height: 1px;
          width: 0;
          left: 50%;
          bottom: -3px;
          transform: translateX(-50%);
          background-color: $blue-dark;
          transition: 0.25s;
        }

        &.active {
          transition: 0.25s;
          font-weight: bold;

          &:before {
            width: 100%;
            left: 50%;
          }
        }

        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }
      }
    }

    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      height: 100%;
      position: relative;
      margin: auto;
      overflow: hidden;

      &__element {
        position: absolute;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        transition: 0.25s;
        opacity: 0;
        top: 50%;
        transform: translate(-50%, -50%);

        &.active {
          opacity: 1;
          transition: 0.25s;
        }

        &.SLIDE {
          left: -50%;

          &.active {
            left: 50%;
            top: 50%;

            & ~ img {
              left: 200%;
            }
          }
        }

        &.FADE {
          left: 50%;
        }
      }
    }
  }
}
