@import "assets/styles/reset";
@import "assets/styles/colors";

$blue-dark: #2C5364;
$indigo: #c5cae9;
$white: #ffffff;
$black: #000000;


body {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden auto;
  font-family: 'Nunito', sans-serif;

  // pour utiliser les rem : http://www.standardista.com/px-to-rem-conversion-if-root-font-size-is-16px/
  // 1 rem = 16 px, ou 13 px sur ordinateur portable
  font-size: 16px;

  @media screen and (max-width: 1440px) {
    font-size: 13px; // -20%
  }
}
